pkgbase = iraf-bin
	pkgdesc = IRAF - Image Reduction and Analysis Facility
	pkgver = 2.17.1
	pkgrel = 5
	url = https://github.com/iraf-community/iraf
	arch = x86_64
	license = custom
	noextract = iraf_2.17.1-5+b1_amd64.deb
	noextract = iraf-noao_2.17.1-5+b1_amd64.deb
	options = !debug
	source = https://deb.debian.org/debian/pool/main/i/iraf/iraf_2.17.1-5+b1_amd64.deb
	source = https://deb.debian.org/debian/pool/main/i/iraf/iraf-noao_2.17.1-5+b1_amd64.deb
	sha256sums = 444a4ce7f9a57b71766ead783f18de8f6a7ab35bbac53bfda7a1f4bbeed315bd
	sha256sums = d6179e538ace8a834ab59675b7fcf11f0f5d7055f9ae7ab7dd2bbdbd1fde1da5

pkgname = iraf-bin
	depends = bash
	depends = cfitsio
	depends = expat
	optdepends = iraf-noao: IRAF NOAO data reduction package
	optdepends = ds9: Image display tool for astronomy
	optdepends = xgterm: Terminal emulator to work with IRAF
	provides = iraf
	conflicts = iraf

pkgname = iraf-noao-bin
	depends = iraf
	provides = iraf-noao
	conflicts = iraf-noao
