pkgbase = xgterm-bin
	pkgdesc = Terminal emulator to work with IRAF
	pkgver = 2.1
	pkgrel = 2
	url = https://github.com/iraf-community/x11iraf
	arch = x86_64
	license = custom
	depends = libxaw
	depends = ncurses
	depends = tcl
	depends = xaw3d
	optdepends = iraf: Image Reduction and Analysis Facility
	provides = xgterm
	conflicts = xgterm
	source = https://deb.debian.org/debian/pool/main/x/x11iraf/xgterm_2.1+dfsg-2_amd64.deb
	sha256sums = 4e718bbef790d2d6787869bfd1fccbf1c3aef306f5522678d7e3026ed5426454

pkgname = xgterm-bin
